<table>
  <thead>
    <tr>
      <th colspan="4" class="border-right"></th>
      <ng-container
        *ngFor="let record of header.records; first as isFirst; last as isLast"
      >
        <th colspan="3" [ngClass]="{ 'border-right': isLast }">
          <ng-container *ngIf="isFirst">
            {{ record.monthName }}
          </ng-container>
        </th>
      </ng-container>
    </tr>
    <tr>
      <th colspan="4" class="border-right"></th>
      <ng-container *ngFor="let record of header.records">
        <th colspan="3" class="border-right align-left">
          {{ record.weekName }}
        </th>
      </ng-container>
    </tr>
    <tr>
      <th></th>
      <th>
        <span>Total</span>
        <br />
        <span class="bold">{{ header.totalOfall }}</span>
      </th>
      <th>
        <span>Productive</span>
        <br />
        <span class="bold">{{ header.productiveOfAll }}</span>
      </th>
      <th class="border-right">
        <span>Unallocated</span>
        <br />
        <span class="bold">{{ header.unallocatedOfAll }}</span>
      </th>
      <ng-container *ngFor="let record of header.records">
        <th>
          <span>Total</span>
          <br />
          <span class="bold">{{ record.totalTime }}</span>
        </th>
        <th>
          <span>Productive</span>
          <br />
          <span class="bold">{{ record.productiveTime }}</span>
        </th>
        <th class="border-right">
          <span>Unallocated</span>
          <br />
          <span class="bold">{{ record.unallocatedTime }}</span>
        </th>
      </ng-container>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let unit of data">
      <td class="bold">{{ unit.name }}</td>
      <td>{{ unit.totalHours }}</td>
      <td>{{ unit.productiveHours }}</td>
      <td class="border-right">{{ unit.unallocatedHours }}</td>
      <ng-container *ngFor="let record of unit.records">
        <td>{{ record.totalHours }}</td>
        <td>{{ record.productiveHours }}</td>
        <td class="border-right">{{ record.unallocatedHours }}</td>
      </ng-container>
    </tr>
  </tbody>
</table>
